<nz-layout>
  <nz-header style="background: #fff; padding:0;">
    <i class="anticon trigger" *ngIf="sidebarVisible" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="collapseSidebar()"></i>
  </nz-header>
  <nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:12px 0;">
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="padding:24px; background: #fff; min-height: 360px;">
      Components here!
    </div>
    <app-footer></app-footer>
  </nz-content>
 
</nz-layout>